a {
   color: #444444;
}

.subbaner {
    background-image: url("../images/contact.jpg");
    background-position: bottom;
}

.subbaner a {
    color: white;
}

.subbaner h1 {
    color:rgb(0, 151, 211);
}
.subbaner h3 {
    background-color:#EE7785;
}

.contact-subpage .container {
    min-height: 420px;
}

.contact-area {
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-area .row {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
}

.form-area {
    display: flex;
}

.contact-div {
    align-items: flex-start;
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;
}

.contact-detail h4 {
    font-size: 1.2em;
    text-transform: none;
    font-weight: normal;
}

.contact-detail p {
    font-size: 1em;
}

.contact-detail-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.contact-icon-div{
    width: 50px;
    display: flex;
    justify-content: center;
}

.contact-detail-div i {
    font-size: 2em;
    color:#EE7785;
}

#contact-form {
    display: flex;
    justify-content: space-around;
}

.form-row {
    padding-bottom: 10px;
    width: 100%;
}

.form-row input {
    font-family: 'Palanquin', sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: none;
    border: 2px solid rgba(68,68,68, 0.6);
    outline: none;
}

.form-message {
    display: flex;
    flex-direction: column;
}

.form-message textarea {
    font-family: 'Palanquin', sans-serif;
    color:  #444444;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid rgba(68,68,68, 0.6);
    outline: none;
    height: 179px;
}

.btn-submit {
    margin-top: 5px;
    align-self: center;
    outline: none;
    background-color: #EE7785;
    color: white;
    border: 3px solid transparent;
    font-size: 1em;
    font-family: 'Palanquin', sans-serif;
    border-radius: 5px;
    padding: 5px 15px;
    align-self: flex-end;
}
    
.btn-submit:hover {
    background-color: white;
    color: rgb(0, 151, 211);
    border: 3px solid rgb(0, 151, 211);
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

input.valid, textarea.valid{
    border: 2px solid #60c5ba;
}

input.invalid, textarea.invalid{
    border: 2px solid #EE7785;
}

.error {
	color: red;	
}

.ok {
	color: green;	
}

.hide {
    display: none;
}

.loading.show {
    margin: 0 auto;
}

.loading-animation {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid rgba(68,68,68, 0.3);
    border-right-color: rgba(68,68,68, 0.6);
    animation: loading-animation 0.6s 0s infinite linear;
}
    
@keyframes loading-animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.success {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.fa-check {
    color: #60c5ba;
    font-size: 2em;
}

.success.show, .loading.show {
    display: block;
}
