* {
    box-sizing: border-box;
}

body {
    color: #444444;
    font-family: 'Palanquin', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header, section, footer {
    width: 100%;
}

.page-header {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-menu {
    display: flex;
}

.page-logo {
    padding-top: 15px;
}

.page-menu-list {
    display: flex;
    justify-content: space-between; 
}

a:hover {
    color:rgb(0, 151, 211);
    transition: all 0.3s ease;
}

.page-menu-list a {
    font-family: 'Palanquin', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #5d5d5d;
    padding: 0 30px;
    font-size: 1.5em;
    cursor: pointer;
}

.social-media-list a:hover, .page-menu-list a:hover {
    color: rgb(0, 151, 211);
}


.social-media-list {
    display: flex;
    justify-content: space-between;
}

.social-media-list a {
    text-decoration: none;
    font-size: 2em;
    color: #c7c7c7;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

.banner {
    height: calc(100vh - 87px);
    background-image: url("../images/banner-glowna.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-content {
    max-width: 900px;
    border: 6px solid rgba(255,255,255, 0.7);
    text-align: center;
    padding: 100px;
    position: relative;
    box-sizing: border-box;
}

.banner-content h1 {
    text-transform: uppercase;
    font-size: 6em;
    font-weight: bold;
    color:#60c5ba; 
    padding-bottom: 20px;
}

.text1, .text2 {
    animation: text 3s 1;
}

@keyframes text {
    0%{
        color:rgba(255,255,255, 0.7);
        margin-bottom: -40px;
    }
}


.btn-scroll-down {
    height: 80px;
    width: 80px;
    font-size: 4em;
    color: rgba(255,255,255, 0.7);
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    bottom: 50px;
    cursor: pointer;
}

.btn-scroll-down:hover {
    font-size: 5em;
}

.banner-content:after:hover {
    color: rgb(0, 151, 211);
}

.my-offer {
    background: #FFFFFF;
    height: 100%;
}

.my-offer .container {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.row {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.row h3 {
    text-transform: uppercase;
    font-size: 1.5em; 
    padding-bottom: 10px; 
}

.row p {
    font-size: 1.1em;
    color: rgba(68,68,68, 0.6);
    line-height: 1.2em;
}
.row a {
    text-decoration: none;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    padding: 20px 10px;
    border-radius: 10px;
}

.my-offer .col{
    height: 300px;
    margin-bottom: 5px;
    position: relative;
}

.my-offer .col:before{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: 1px solid transparent;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

.my-offer .col:hover:before{
    height: 300px;
    width: 300px;
    border: 3px solid #EE7785;
    border-radius: 10px;
    border-right: none;
    border-bottom: none;
    transition: width 0.5s linear 0.5s, height 0.5s linear;
}

.my-offer .col:after{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: 1px solid transparent;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.my-offer .col:hover:after{
    height: 300px;
    width: 300px;
    border: 3px solid #EE7785;
    border-radius: 10px;
    border-left: none;
    border-top: none;
    transition: width 0.5s linear 0.5s, height 0.5s linear;
}


h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.offer-icon img {
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
}

.about-me {
    background-color: #EE7785;
    box-shadow: inset -4px -4px 52px 0px rgba(0, 0, 0, 0.3);
}

.about-me .container {
    height: 100%;
    display: flex;
}

.my-image img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.my-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 50px;
}

.my-message h3 {
    padding-bottom: 30px;
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 300;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

h4 span {
    font-weight: 300;
    text-transform: capitalize;
    color: rgba(255,255,255, 0.7)
}

.articles .container {
    margin-top: 50px;
    margin-bottom: 50px;
}

hr {
    height: 1px;
    width: 30px;
    background-color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.articles img {
    height: 150px;
    width: 250px;
}

.articles .col {
    max-width: 250px;
    padding: 0 0 20px 0;
    margin-top: 20px;
    border-radius: 0;
}

.articles .col:hover{
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.articles .row {
    justify-content: space-around;
}

.article-img {
    height: 150px;
    width: 250px;
    margin-bottom: 30px;
}

.article-content {
    padding: 0 10px 0 10px;
}

.read-more {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.read-more a {
    display: block;
    background-color: rgb(0, 151, 211);
    width: 130px;
    height: 50px;
    line-height: 50px;

}

.read-more a:hover {
    color: white;
    background-color: #EE7785;
    font-weight: bold;
}

.page-footer {
    height: 100%;
    display: flex;
    background-color: #60c5ba;
    color: white;
}

.page-menu-list.footer a {
    font-size: inherit;
    padding: 0;
    font-weight: normal;
}

.page-menu-list.footer a:hover {
    font-weight: bold;
}
.page-footer li {
    padding: 20px;
    font-size: 1.2em
}

.page-footer a {
    color: white;
}

.footer-contact {
    display: flex;
}

.copyright {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    background-color: #d3e0f7;

}

h5 {
    padding: 5px 5px 5px 5px;
}

.copyright a {
    text-decoration: none;
}

.copyright a:hover{
    color: #EE7785;
}

.menu-burger {
    width: 80px;
    height: 80px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.burger-item {
    width: 40px;
    height: 6px;
    background-color:#5d5d5d;;
    display: block;
    margin: 3px;
}

.btn-close {
    display: none;
    align-self: flex-end;
    margin-right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    padding-bottom: 0;
    outline: none;
}

.btn-close:after{
    font-family: 'FontAwesome';
    content: '\f00d';
    color: #EE7785;
    font-size: 2.3em;
}

.btn-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color:rgb(0, 151, 211);
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
  }
  
.btn-to-top:hover {
    background-color: #EE7785;
}

@media (max-width: 1070px) {
    .page-header{
        flex-direction: column;
    }
    .banner{
       height: calc(100vh - 141px);
    }

    .page-menu>.page-menu-list{
        margin-bottom: 30px;
    }
    .social-media-list{
        display: none;
    }
    .banner-content {
        padding:50px;
    }
    .contact-area .row, #contact-form {
        flex-direction: column;
    }
    #contact-form {
        flex-direction: column;
    }
    .contact-div {
        width: 100%;
    }
    .contact-area .row {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 820px) {
    .banner{
        height: calc(100vh - 87x);
    }
    .page-header{
        flex-direction: row;
    }
    .page-menu>.page-menu-list{
        position: fixed;
        z-index: 2;
        left: -300px;
        top: 80px;
        margin-left: 0;
        width: 300px;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 100%;
        padding-top: 17px;
        transition: 1s;
        background-color: rgba(255,255,255, 0.7);
    }
    .page-menu>.page-menu-list a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 13px;
        padding-bottom: 15px;
    }
    .page-menu>.page-menu-list.show {
        transform: translate(100%);
    }
    .page-menu>.page-menu-list a:hover {
        background-color: rgb(0, 151, 211);
        color:white;
    }
    .menu-burger {
        display: flex;
    }
    .btn-close {
        display: flex;
    }
    .social-media-list {
        display: flex;
        justify-content: space-between;
    }
    .banner-content h1 {
        font-size: 4.5em;
    }
    .about-me .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
    }
    .my-message {
        margin-right: 50px;
    }
    .my-experience-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
    .page-menu-list.footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-contact li {
        padding-top: 0;
    }  
}

@media (max-width: 630px) {
    .banner-content h1 {
        font-size: 2.3em;
    }
    .banner-content {
        padding:15px;
    }
}

@media (max-width: 500px) {
    .footer-contact {
        flex-direction: column;
        align-items: center;
    }
    .my-image img {
        max-height: 300px;
        max-width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .social-media-list a {
        font-size: 1.5em;
    }
    .contact-detail h4 {
        font-size: 1em;
    }
    .contact-detail p {
        font-size: 0.8em;
    }
}

@media (max-width: 350px) {
    .my-message h3 {
        font-size: 1.2em;
    }
    .my-image img {
        max-height: 250px;
        max-width: 250px;
    }
    .contact-detail h4 {
        font-size: 0.7em;
    }
} 